.error{
    color: red;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.my-page{
    padding: 200px;
    text-align: center;
}


.header{
    background-color: cadetblue;
    color: white;
    padding: 50px;
    text-align: center;
}


.footer{
    background-color: cadetblue;
    color: white;
    padding: 50px;
    text-align: center;
}